.model {
    color: rgb(73, 72, 72);
    position: absolute;
    height: 250px;
    width: 400px;
    background-color: var(--font-color);
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 2px 0px 6px 2px #6c6b6b8b ;
}

.modal-container {
    position: absolute;
    top:0px;
    right: 0px;
    visibility: hidden;
    background-color: #c1c2c597;
    width: 100%;
    height: 100%;
}

.model_show {
    visibility:visible;
}

.modal-transform {
    top: calc(50% - 300px);
    right: calc(50% - 200px);
    transition: transform 1s;
    transform: translate(0, 15px);
}

.userinfo {
    font-size: 14px;
}

.userinfo p {
    padding: 10px;
    color: #8e11b4;
}

.userinfo p span{
    font-weight: bolder;
}

.modal-center {
    width: 100%;
    text-align: center;
}

h2 {
    color: red;
}

h3 {
    color:blueviolet;
}